{% comment %} {{ 'customize.css' | asset_url | stylesheet_tag }} {% endcomment %}
{{ 'custom.css' | asset_url | stylesheet_tag }}
{{ 'styles.css' | asset_url | stylesheet_tag }}
{{ 'theme.css' | asset_url | stylesheet_tag }}


{% assign viewProduct = false %}{% if product-item == 'view'%}{% assign viewProduct = true %}{% endif %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}



{% comment %}Nutritional Info{% endcomment %}
{% assign swole_nutrition = product.metafields.c_f.swole_nutrition | split: ", " %}
{% assign active_nutrition = product.metafields.c_f.active_nutrition | split: ", " %}
{% assign low_carb_nutrition = product.metafields.c_f.low_carb_nutrition | split: ", " %}

<div class="product-block {% unless product.available %} sold-out{% endunless %}{% if on_sale %} on-sale{% endif %}{% if viewProduct %} view-only{% endif %}" id="{{ product.id }}">



  {% if template == "collection.order" %}  
  <a href="javascript:void(0)" id="show_infor" class="image-wrapper {% unless viewProduct %}image-wrapper--has-popup{% endunless %}" 
     {% unless viewProduct %}
     data-featherlight="{{ product.url | within: collection }}" 
     data-featherlight="ajax"{% endunless %}>
    {% else %}
    <a href="javascript:void(0)" id="show_infor"  class="image-wrapper {% unless viewProduct %}image-wrapper--has-popup{% endunless %}">
      {% endif %}



      {%- comment -%}
      <a href="{{ product.url | within: collection }}"  class="image-wrapper {% unless viewProduct %}image-wrapper--has-popup{% endunless %}">
        {%- endcomment -%}

        <div class="image-wrapper__loading"><span>Added to cart</span></div>
        <div class="image-container">
          <img
               alt="{{ product.featured_image.alt | escape }}"
               src="{{ product | img_url: '450x450', crop: 'center'  }}"
               data-src="{{ product | img_url: '390x390', crop: 'center' }}"
               class="lazyload blur-up" />

          <div class="image-container--overlay">
            {%- comment -%}
            <div class="overlay-icon"><i class="fal fa-plus-circle"></i></div>
            {%- endcomment -%}
            <div class="overlay-icon">
              <img src="https://cdn.shopify.com/s/files/1/0180/4097/9520/files/zoom.svg?v=1717582532">
            </div>

          </div>

        </div>

        {% unless viewProduct %}
        <div class="nutrition nutrition--swole" id="nurition_swole{{ product.id }}">
          <div class="title">Swole nutrition 450g</div>
          <ul>
            {% for item in swole_nutrition %}
            <li>{{ item | replace: ': ','<br>' }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="nutrition nutrition--active" id="nurition_active{{ product.id }}">
          <div class="title">Active nutrition 350g</div>
          <ul>
            {% for item in active_nutrition %}
            <li>{{ item | replace: ': ','<br>' }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="nutrition nutrition--low_carb" id="nurition_low-carb{{ product.id }}">
          <div class="title">Low Carb nutrition 300g</div>
          <ul>
            {% for item in low_carb_nutrition %}
            <li>{{ item | replace: ': ','<br>' }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endunless %} 
      </a>
      {%- if wsgActive -%}{%- include 'wsg-status' wsgStatusAction: 'col-item' | strip -%}{%- endif -%}
      <div class="text">
        <div class="product-tile">


          {% if template == "collection.order" %}  
          <a href="javascript:void(0)" class="product_more"
             data-featherlight="{{ product.url | within: collection }}" 
             data-featherlight="ajax">
            {{ product.title }}
          </a>
          {% else %}
          <a href="javascript:void(0)" class="product_more">
            {{ product.title }}
          </a>
          {% endif %}
        </div>
        {%- comment -%} Change on May 03, 2020 by Bekka F. at Shopify {%- endcomment -%} 
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        {% if viewProduct %}
          <div class="product-block__price">
            {%- if product.type == 'Smoothie' -%}
              <span class="size_description">2x 180g sachets</span>
            {%- endif -%}
            {{ product.price | money}}
          </div>
        {% else %}
        <!---the tile with add button -->
        {% unless collection.title contains 'Products' %}
        <ul class="order-buttons">



          {% for variant in product.variants %}

          {%- assign available = false -%}

          {% if variant.inventory_quantity > 0 %}
          {%- assign available = true -%}
          {% endif %}

          <li class="order-variant variant--{{ variant.title | handleize }}" data-id="nurition_{{ variant.title | handleize }}{{ product.id }}">
            <div class="variant-title {% if available == false %}variantTextDisable{% endif %}" id="{{ variant.id }}-title-variant"><strong>{{ variant.title }}</strong></div>
            <div class="variant-price {% if available == false %}variantTextDisable{% endif %}">{{ variant.price | money }}</div>
            <div class="variant-add__wrapper">
              {% if collectionTag == 'wholesale' %}
              <input type="number" class="input-quantity" min="1" style="width:80px;"/>
              {% endif %}

              {% if available %}
              <button class="variant-add" id="{{ variant.id }}-add-buttom" data-cart-add="{{ variant.id }}" data-cart-quantity="1" data-aitems="{{variant.inventory_quantity}}" data-parent="{{ product.id }}">+<span> Add</span></button>
              {% else %}
              <button class="variant-add variantDisable" title="SOLD OUT" disabled>+<span> Add</span></button>
              {% endif %}

            </div>
          </li>
          {% endfor %}

        </ul>
        {% endunless %}
        <!---the tile with add button -->
        {% endif %}
      </div>

      </div>


    <script>

      function updateInventory(){

        $( ".cart-item-id" ).each(function( index ) {

          var variantId               = $(this).text();
          var total_available_items   = parseInt($("#" + variantId + "-add-buttom").attr("data-aitems"));
          var total_items_cart = parseInt($(this).next().text());

          var items_left = parseInt(total_available_items - total_items_cart);

          $("#" + variantId + "-add-buttom").attr("data-left-items", items_left);

          if( items_left == 0) {
            $("#" + variantId + "-add-buttom").attr("disabled", true).addClass("variantDisable").attr("title", "SOLD OUT");
            $("#" + variantId + "-title-variant").addClass("sold-out-title");
            $(this).next().next().addClass("no-add-sold");
          } else {
            $("#" + variantId + "-add-buttom").attr("disabled", false).removeClass("variantDisable").attr("title", "");
            $("#" + variantId + "-title-variant").removeClass("sold-out-title");
            $(this).next().next().removeClass("no-add-sold");
          }

        });

      };


      $(window).on('load', function() {
        updateInventory();
      });

      $( document ).ready(function() {

        $(".input-quantity").blur(function(){
          if($(this).val().length==0){
            $(this).val("1");
          }
          $(this).siblings("button").attr("data-cart-quantity",$(this).val());
        });

        $(document).on('cart.requestComplete', function(event, cart) {
          updateInventory();
        });



      });

      $('.price-add-product button').on('click', function(){
        $('.featherlight-close').click();
        updateInventory();
      });


    </script>