<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-G4593N1YT2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-G4593N1YT2');
    </script> 
    
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}


  {%- capture seo_title -%}
    {%- if template == 'search' and search.performed == true -%}
      {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
      {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}    
    {{ seo_title | strip }}
  </title>    
    
  <!-- Slick Slider Library -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>

  <!-- Fontawesome & Bootstrap & Swiper Bundle Library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/fontawesome.min.css" integrity="sha512-UuQ/zJlbMVAw/UU8vVBhnI4op+/tFOpQZVT+FormmIEhRSCnJWyHiBbEVgM4Uztsht41f3FzVWgLuwzUqOObKw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-********" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link
    rel="stylesheet"
    href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
  />

  {% include 'social-meta-tags' %}
  {{ 'fontawesome.css' | asset_url | stylesheet_tag }}
  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {{ 'styles.css' | asset_url | stylesheet_tag }}
  {{ 'custom.css' | asset_url | stylesheet_tag }}
  {{ 'customize.css' | asset_url | stylesheet_tag }}
  {{ 'featherlight.min.css' | asset_url | stylesheet_tag }}
  {{ 'owl.carousel.min.css' | asset_url | stylesheet_tag }}
  {{ 'owl.theme.default.min.css' | asset_url | stylesheet_tag }}   
    
  <!-- Theme's main JavaScript file -->
  <script src="{{ 'theme.js' | asset_url }}"></script>
  <script src="{{ 'theme-editor.js' | asset_url }}"></script> 
    
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
  <script src="{{ 'font-awesome-all.min.js' | asset_url }}"></script>
  <script src="{{ 'plugins.js' | asset_url }}"></script>
  {% unless template == 'product' %}<script src="{{ 'rivets-cart.js' | asset_url }}"></script>{% endunless %}
  <script src="{{ 'owl.carousel.js' | asset_url }}"></script>
  <script src="{{ 'theme.js' | asset_url }}" ></script>
    
  <script>var scaaffCheck = false;</script>
  {{ 'sca_affiliate.js' | asset_url | script_tag }}
  {% include 'wsg-header' %}
  <script src="{{ 'featherlight.min.js' | asset_url }}"></script>
  {% include "easybot" %}
     
  <!-- Other head content -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
  <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>  
    
  <!-- Slick Slider JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    
    {% render 'meta-tags' %}

    <script src="{{ 'constants.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'pubsub.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    {%- if settings.animations_reveal_on_scroll -%}
      <script src="{{ 'animations.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    {{ content_for_header }}

    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}

    {% style %}
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ settings.type_header_font | font_face: font_display: 'swap' }}

      {% for scheme in settings.color_schemes -%}
        {% assign scheme_classes = scheme_classes | append: ', .color-' | append: scheme.id %}
        {% if forloop.index == 1 -%}
          :root,
        {%- endif %}
        .color-{{ scheme.id }} {
          --color-background: {{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }};
        {% if scheme.settings.background_gradient != empty %}
          --gradient-background: {{ scheme.settings.background_gradient }};
        {% else %}
          --gradient-background: {{ scheme.settings.background }};
        {% endif %}

        {% liquid
          assign background_color = scheme.settings.background
          assign background_color_brightness = background_color | color_brightness
          if background_color_brightness <= 26
            assign background_color_contrast = background_color | color_lighten: 50
          elsif background_color_brightness <= 65
            assign background_color_contrast = background_color | color_lighten: 5
          else
            assign background_color_contrast = background_color | color_darken: 25
          endif
        %}

        --color-foreground: {{ scheme.settings.text.red }},{{ scheme.settings.text.green }},{{ scheme.settings.text.blue }};
        --color-background-contrast: {{ background_color_contrast.red }},{{ background_color_contrast.green }},{{ background_color_contrast.blue }};
        --color-shadow: {{ scheme.settings.shadow.red }},{{ scheme.settings.shadow.green }},{{ scheme.settings.shadow.blue }};
        --color-button: {{ scheme.settings.button.red }},{{ scheme.settings.button.green }},{{ scheme.settings.button.blue }};
        --color-button-text: {{ scheme.settings.button_label.red }},{{ scheme.settings.button_label.green }},{{ scheme.settings.button_label.blue }};
        --color-secondary-button: {{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }};
        --color-secondary-button-text: {{ scheme.settings.secondary_button_label.red }},{{ scheme.settings.secondary_button_label.green }},{{ scheme.settings.secondary_button_label.blue }};
        --color-link: {{ scheme.settings.secondary_button_label.red }},{{ scheme.settings.secondary_button_label.green }},{{ scheme.settings.secondary_button_label.blue }};
        --color-badge-foreground: {{ scheme.settings.text.red }},{{ scheme.settings.text.green }},{{ scheme.settings.text.blue }};
        --color-badge-background: {{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }};
        --color-badge-border: {{ scheme.settings.text.red }},{{ scheme.settings.text.green }},{{ scheme.settings.text.blue }};
        --payment-terms-background-color: rgb({{ scheme.settings.background.rgb }});
      }
      {% endfor %}

      {{ scheme_classes | prepend: 'body' }} {
        color: rgba(var(--color-foreground), 0.75);
        background-color: rgb(var(--color-background));
      }

      :root {
        --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
        --font-body-style: {{ settings.type_body_font.style }};
        --font-body-weight: {{ settings.type_body_font.weight }};
        --font-body-weight-bold: {{ settings.type_body_font.weight | plus: 300 | at_most: 1000 }};

        --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
        --font-heading-style: {{ settings.type_header_font.style }};
        --font-heading-weight: {{ settings.type_header_font.weight }};

        --font-body-scale: {{ settings.body_scale | divided_by: 100.0 }};
        --font-heading-scale: {{ settings.heading_scale | times: 1.0 | divided_by: settings.body_scale }};

        --media-padding: {{ settings.media_padding }}px;
        --media-border-opacity: {{ settings.media_border_opacity | divided_by: 100.0 }};
        --media-border-width: {{ settings.media_border_thickness }}px;
        --media-radius: {{ settings.media_radius }}px;
        --media-shadow-opacity: {{ settings.media_shadow_opacity | divided_by: 100.0 }};
        --media-shadow-horizontal-offset: {{ settings.media_shadow_horizontal_offset }}px;
        --media-shadow-vertical-offset: {{ settings.media_shadow_vertical_offset }}px;
        --media-shadow-blur-radius: {{ settings.media_shadow_blur }}px;
        --media-shadow-visible: {% if settings.media_shadow_opacity > 0 %}1{% else %}0{% endif %};

        --page-width: {{ settings.page_width | divided_by: 10 }}rem;
        --page-width-margin: {% if settings.page_width == '1600' %}2{% else %}0{% endif %}rem;

        --product-card-image-padding: {{ settings.card_image_padding | divided_by: 10.0 }}rem;
        --product-card-corner-radius: {{ settings.card_corner_radius | divided_by: 10.0 }}rem;
        --product-card-text-alignment: {{ settings.card_text_alignment }};
        --product-card-border-width: {{ settings.card_border_thickness | divided_by: 10.0 }}rem;
        --product-card-border-opacity: {{ settings.card_border_opacity | divided_by: 100.0 }};
        --product-card-shadow-opacity: {{ settings.card_shadow_opacity | divided_by: 100.0 }};
        --product-card-shadow-visible: {% if settings.card_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --product-card-shadow-horizontal-offset: {{ settings.card_shadow_horizontal_offset | divided_by: 10.0 }}rem;
        --product-card-shadow-vertical-offset: {{ settings.card_shadow_vertical_offset | divided_by: 10.0 }}rem;
        --product-card-shadow-blur-radius: {{ settings.card_shadow_blur | divided_by: 10.0 }}rem;

        --collection-card-image-padding: {{ settings.collection_card_image_padding | divided_by: 10.0 }}rem;
        --collection-card-corner-radius: {{ settings.collection_card_corner_radius | divided_by: 10.0 }}rem;
        --collection-card-text-alignment: {{ settings.collection_card_text_alignment }};
        --collection-card-border-width: {{ settings.collection_card_border_thickness | divided_by: 10.0 }}rem;
        --collection-card-border-opacity: {{ settings.collection_card_border_opacity | divided_by: 100.0 }};
        --collection-card-shadow-opacity: {{ settings.collection_card_shadow_opacity | divided_by: 100.0 }};
        --collection-card-shadow-visible: {% if settings.collection_card_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --collection-card-shadow-horizontal-offset: {{ settings.collection_card_shadow_horizontal_offset | divided_by: 10.0 }}rem;
        --collection-card-shadow-vertical-offset: {{ settings.collection_card_shadow_vertical_offset | divided_by: 10.0 }}rem;
        --collection-card-shadow-blur-radius: {{ settings.collection_card_shadow_blur | divided_by: 10.0 }}rem;

        --blog-card-image-padding: {{ settings.blog_card_image_padding | divided_by: 10.0 }}rem;
        --blog-card-corner-radius: {{ settings.blog_card_corner_radius | divided_by: 10.0 }}rem;
        --blog-card-text-alignment: {{ settings.blog_card_text_alignment }};
        --blog-card-border-width: {{ settings.blog_card_border_thickness | divided_by: 10.0 }}rem;
        --blog-card-border-opacity: {{ settings.blog_card_border_opacity | divided_by: 100.0 }};
        --blog-card-shadow-opacity: {{ settings.blog_card_shadow_opacity | divided_by: 100.0 }};
        --blog-card-shadow-visible: {% if settings.blog_card_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --blog-card-shadow-horizontal-offset: {{ settings.blog_card_shadow_horizontal_offset | divided_by: 10.0 }}rem;
        --blog-card-shadow-vertical-offset: {{ settings.blog_card_shadow_vertical_offset | divided_by: 10.0 }}rem;
        --blog-card-shadow-blur-radius: {{ settings.blog_card_shadow_blur | divided_by: 10.0 }}rem;

        --badge-corner-radius: {{ settings.badge_corner_radius | divided_by: 10.0 }}rem;

        --popup-border-width: {{ settings.popup_border_thickness }}px;
        --popup-border-opacity: {{ settings.popup_border_opacity | divided_by: 100.0 }};
        --popup-corner-radius: {{ settings.popup_corner_radius }}px;
        --popup-shadow-opacity: {{ settings.popup_shadow_opacity | divided_by: 100.0 }};
        --popup-shadow-horizontal-offset: {{ settings.popup_shadow_horizontal_offset }}px;
        --popup-shadow-vertical-offset: {{ settings.popup_shadow_vertical_offset }}px;
        --popup-shadow-blur-radius: {{ settings.popup_shadow_blur }}px;

        --drawer-border-width: {{ settings.drawer_border_thickness }}px;
        --drawer-border-opacity: {{ settings.drawer_border_opacity | divided_by: 100.0 }};
        --drawer-shadow-opacity: {{ settings.drawer_shadow_opacity | divided_by: 100.0 }};
        --drawer-shadow-horizontal-offset: {{ settings.drawer_shadow_horizontal_offset }}px;
        --drawer-shadow-vertical-offset: {{ settings.drawer_shadow_vertical_offset }}px;
        --drawer-shadow-blur-radius: {{ settings.drawer_shadow_blur }}px;

        --spacing-sections-desktop: {{ settings.spacing_sections }}px;
        --spacing-sections-mobile: {% if settings.spacing_sections < 24 %}{{ settings.spacing_sections }}{% else %}{{ settings.spacing_sections | times: 0.7 | round | at_least: 20 }}{% endif %}px;

        --grid-desktop-vertical-spacing: {{ settings.spacing_grid_vertical }}px;
        --grid-desktop-horizontal-spacing: {{ settings.spacing_grid_horizontal }}px;
        --grid-mobile-vertical-spacing: {{ settings.spacing_grid_vertical | divided_by: 2 }}px;
        --grid-mobile-horizontal-spacing: {{ settings.spacing_grid_horizontal | divided_by: 2 }}px;

        --text-boxes-border-opacity: {{ settings.text_boxes_border_opacity | divided_by: 100.0 }};
        --text-boxes-border-width: {{ settings.text_boxes_border_thickness }}px;
        --text-boxes-radius: {{ settings.text_boxes_radius }}px;
        --text-boxes-shadow-opacity: {{ settings.text_boxes_shadow_opacity | divided_by: 100.0 }};
        --text-boxes-shadow-visible: {% if settings.text_boxes_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --text-boxes-shadow-horizontal-offset: {{ settings.text_boxes_shadow_horizontal_offset }}px;
        --text-boxes-shadow-vertical-offset: {{ settings.text_boxes_shadow_vertical_offset }}px;
        --text-boxes-shadow-blur-radius: {{ settings.text_boxes_shadow_blur }}px;

        --buttons-radius: {{ settings.buttons_radius }}px;
        --buttons-radius-outset: {% if settings.buttons_radius > 0 %}{{ settings.buttons_radius | plus: settings.buttons_border_thickness }}{% else %}0{% endif %}px;
        --buttons-border-width: {% if settings.buttons_border_opacity > 0 %}{{ settings.buttons_border_thickness }}{% else %}0{% endif %}px;
        --buttons-border-opacity: {{ settings.buttons_border_opacity | divided_by: 100.0 }};
        --buttons-shadow-opacity: {{ settings.buttons_shadow_opacity | divided_by: 100.0 }};
        --buttons-shadow-visible: {% if settings.buttons_shadow_opacity > 0 %}1{% else %}0{% endif %};
        --buttons-shadow-horizontal-offset: {{ settings.buttons_shadow_horizontal_offset }}px;
        --buttons-shadow-vertical-offset: {{ settings.buttons_shadow_vertical_offset }}px;
        --buttons-shadow-blur-radius: {{ settings.buttons_shadow_blur }}px;
        --buttons-border-offset: {% if settings.buttons_radius > 0 or settings.buttons_shadow_opacity > 0 %}0.3{% else %}0{% endif %}px;

        --inputs-radius: {{ settings.inputs_radius }}px;
        --inputs-border-width: {{ settings.inputs_border_thickness }}px;
        --inputs-border-opacity: {{ settings.inputs_border_opacity | divided_by: 100.0 }};
        --inputs-shadow-opacity: {{ settings.inputs_shadow_opacity | divided_by: 100.0 }};
        --inputs-shadow-horizontal-offset: {{ settings.inputs_shadow_horizontal_offset }}px;
        --inputs-margin-offset: {% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_opacity > 0 %}{{ settings.inputs_shadow_vertical_offset | abs }}{% else %}0{% endif %}px;
        --inputs-shadow-vertical-offset: {{ settings.inputs_shadow_vertical_offset }}px;
        --inputs-shadow-blur-radius: {{ settings.inputs_shadow_blur }}px;
        --inputs-radius-outset: {% if settings.inputs_radius > 0 %}{{ settings.inputs_radius | plus: settings.inputs_border_thickness }}{% else %}0{% endif %}px;

        --variant-pills-radius: {{ settings.variant_pills_radius }}px;
        --variant-pills-border-width: {{ settings.variant_pills_border_thickness }}px;
        --variant-pills-border-opacity: {{ settings.variant_pills_border_opacity | divided_by: 100.0 }};
        --variant-pills-shadow-opacity: {{ settings.variant_pills_shadow_opacity | divided_by: 100.0 }};
        --variant-pills-shadow-horizontal-offset: {{ settings.variant_pills_shadow_horizontal_offset }}px;
        --variant-pills-shadow-vertical-offset: {{ settings.variant_pills_shadow_vertical_offset }}px;
        --variant-pills-shadow-blur-radius: {{ settings.variant_pills_shadow_blur }}px;
      }

      *,
      *::before,
      *::after {
        box-sizing: inherit;
      }

      html {
        box-sizing: border-box;
        font-size: calc(var(--font-body-scale) * 62.5%);
        height: 100%;
      }

      body {
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 100%;
        min-height: 100%;
        margin: 0;
        font-size: 1.5rem;
        letter-spacing: 0.06rem;
        line-height: calc(1 + 0.8 / var(--font-body-scale));
        font-family: var(--font-body-family);
        font-style: var(--font-body-style);
        font-weight: var(--font-body-weight);
      }

      @media screen and (min-width: 750px) {
        body {
          font-size: 1.6rem;
        }
      }
    {% endstyle %}

    {{ 'base.css' | asset_url | stylesheet_tag }}

    {%- unless settings.type_body_font.system? -%}
      {% comment %}theme-check-disable AssetPreload{% endcomment %}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
      {% comment %}theme-check-enable AssetPreload{% endcomment %}
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      {% comment %}theme-check-disable AssetPreload{% endcomment %}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
      {% comment %}theme-check-enable AssetPreload{% endcomment %}
    {%- endunless -%}

    {%- if localization.available_countries.size > 1 or localization.available_languages.size > 1 -%}
      {{ 'component-localization-form.css' | asset_url | stylesheet_tag: preload: true }}
      <script src="{{ 'localization-form.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    {%- if settings.predictive_search_enabled -%}
      <link
        rel="stylesheet"
        href="{{ 'component-predictive-search.css' | asset_url }}"
        media="print"
        onload="this.media='all'"
      >
    {%- endif -%}

    <script>
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>
  </head>

  <!-- <body class="homePage gradient{% if settings.animations_hover_elements != 'none' %} animate--hover-{{ settings.animations_hover_elements }}{% endif %}"> -->
    
  <body class="{% if page.handle != blank %}template_{{ page.handle }}{%else%}homePage{%endif%} template-{{ template | split: '.' | first }} {% if template contains 'collection'%}template-cart{% endif %}">
      {% section 'custom-font' %}
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {%- if settings.cart_type == 'drawer' -%}
      {%- render 'cart-drawer' -%}
    {%- endif -%}

    {% sections 'header-group' %}

      
    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>

    <script>
      window.shopUrl = '{{ request.origin }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}',
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`,
      };

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
        unavailable_with_option: `{{ 'products.product.value_unavailable' | t: option_value: '[value]' }}`,
      };

      window.quickOrderListStrings = {
        itemsAdded: `{{ 'sections.quick_order_list.items_added.other' | t: quantity: '[quantity]' }}`,
        itemAdded: `{{ 'sections.quick_order_list.items_added.one' | t: quantity: '[quantity]' }}`,
        itemsRemoved: `{{ 'sections.quick_order_list.items_removed.other' | t: quantity: '[quantity]' }}`,
        itemRemoved: `{{ 'sections.quick_order_list.items_removed.one' | t: quantity: '[quantity]' }}`,
        viewCart: `{{- 'sections.quick_order_list.view_cart' | t -}}`,
        each: `{{- 'sections.quick_order_list.each' | t: money: '[money]' }}`,
        min_error: `{{- 'sections.quick_order_list.min_error' | t: min: '[min]' }}`,
        max_error: `{{- 'sections.quick_order_list.max_error' | t: max: '[max]' }}`,
        step_error: `{{- 'sections.quick_order_list.step_error' | t: step: '[step]' }}`,
      };

      window.accessibilityStrings = {
        imageAvailable: `{{ 'products.product.media.image_available' | t: index: '[index]' }}`,
        shareSuccess: `{{ 'general.share.success_message' | t }}`,
        pauseSlideshow: `{{ 'sections.slideshow.pause_slideshow' | t }}`,
        playSlideshow: `{{ 'sections.slideshow.play_slideshow' | t }}`,
        recipientFormExpanded: `{{ 'recipient.form.expanded' | t }}`,
        recipientFormCollapsed: `{{ 'recipient.form.collapsed' | t }}`,
        countrySelectorSearchCount: `{{ 'localization.country_results_count' | t: count: '[count]' }}`,
      };
    </script>
      
  {% unless template == 'product' %}
  <!-- Initialise Cart.js once the page has loaded -->
        <script type="text/javascript">
            jQuery(function() {
                CartJS.init({{ cart | json }});
            });
        </script>
  {% endunless %}
<!-- Begin ReCharge code -->
{% include 'subscription-theme-footer' %}
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<!-- End ReCharge code -->
      
{% include 'socialboost-widgets-inc' %} <!--Gem_Page_Footer_Script-->
{% include 'gem-app-footer-scripts' %}
<!--End_Gem_Page_Footer_Script-->
    {% unless template == 'list-collections' %}
  {% render 'ajaxify-cart' %}
    {% endunless %}
      
<!-- Navidium App -->
{% include 'navidium-widget-v4' %}
{{ '//cdn.shopify.com/s/files/1/0194/1736/6592/t/1/assets/booster-page-speed-optimizer.js?23' | script_tag }}
      
<script>
  window.addEventListener('load', function() {
  var _learnq = window._learnq || [];
  function addedToCart() {
    fetch(`${window.location.origin}/cart.js`)
    .then(res => res.clone().json().then(data => {
      var cart = {
        total_price: data.total_price/100,
        $value: data.total_price/100,
        total_discount: data.total_discount,
        original_total_price: data.original_total_price/100,
        items: data.items
      }
      if (item !== 'undefined') {
        cart = Object.assign(cart, item)
      }
      if (klAjax) {
          _learnq.push(['track', 'Added to Cart', cart]);
          klAjax = false;
        }
    }))
  };
  (function (ns, fetch) {
    ns.fetch = function() {
      const response = fetch.apply(this, arguments);
      response.then(res => {
        if (`${window.location.origin}/cart/add.js`
        	.includes(res.url)) {
          	addedToCart()
        }
      });
      return response
    }
  }(window, window.fetch));
  var klAjax = true;
  var atcButtons = document.querySelectorAll(".variant-add");
  for (var i = 0; i < atcButtons.length; i++) {
      atcButtons[i].addEventListener("click", function() {
        if (klAjax) {
          _learnq.push(['track', 'Added to Cart', item]);
          klAjax = false;
        }
      })
  }
  });
</script>
      
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js" integrity="sha512-u3fPA7V8qQmhBPNT5quvaXVa1mnnLSXUep5PS1qo5NRzHwG19aHmNJnj1Q8hpA/nBWZtZD4r4AX6YOt5ynLN2g==" crossorigin="anonymous" referrerpolicy="no-referrer" defer="defer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/fontawesome.min.js" integrity="sha512-1M9vud0lqoXACA9QaA8IY8k1VR2dMJ2Qmqzt9pN2AH7eQHWpNsxBpaayV0kKkUsF7FLVQ2sA2SSc8w5VOm7/mg==" crossorigin="anonymous" referrerpolicy="no-referrer" defer="defer"></script>
  <script src="https://kit.fontawesome.com/yourkitid.js" crossorigin="anonymous" defer="defer"></script>
      
    {%- if settings.predictive_search_enabled -%}
      <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
  </body>
</html>

<!-- Begin Shopify-Afterpay JavaScript Snippet (v1.0.3) -->
<script type="text/javascript">
// Editable fields:
var afterpay_min = 0.04;            // As per your Afterpay contract.
var afterpay_max = 1000.00;         // As per your Afterpay contract.
var afterpay_cbt_enabled = false;   // As per your Afterpay contract; change to true to display Cross-Border Trade artwork (for AU/NZ).
var afterpay_logo_theme = 'colour'; // Can be 'colour', 'black' or 'white'.

// Overrides:
// var afterpay_product_selector = '#product-price-selector';
// var afterpay_product_css = {'margin-top': '15px'};

// var afterpay_variable_price_fallback_selector = '#product-price-selector';
// var afterpay_variable_price_fallback_method = "interval";

var afterpay_cart_integration_enabled = true;
var afterpay_cart_static_selector = '.cart-sidebar__price';
// var afterpay_cart_static_logo_theme = 'white';
var afterpay_cart_static_css = {'margin-bottom': '30px'};

// var afterpay_modal_open_icon = true;

// Non-editable fields:
var afterpay_shop_currency = {{ shop.currency | json }};
var afterpay_cart_currency = {{ cart.currency.iso_code | json }};
var afterpay_shop_money_format = {{ shop.money_format | json }};
var afterpay_shop_permanent_domain = {{ shop.permanent_domain | json }};
var afterpay_theme_name = {{ theme.name | json }};
var afterpay_product = {{ product | json }};
var afterpay_current_variant = {{ product.selected_or_first_available_variant | json }};
var afterpay_cart_total_price = {{ cart.total_price | json }};
var afterpay_js_snippet_version = '1.0.3';
</script>
<script type="text/javascript" src="https://static.afterpay.com/shopify-afterpay-javascript.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
<!-- End Shopify-Afterpay JavaScript Snippet (v1.0.3) -->

<script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
<script>

$(document).ready(function(){
  var $jq = jQuery.noConflict();
   //Slick slider initialize
$jq('.section__sponsor .slider').slick({
  arrows:false, dots: false, infinite:true, speed:500,
  autoplay:true, autoplaySpeed: 2000, slidesToShow:6, slidesToScroll:1,responsive: [{breakpoint: 768,settings: {slidesToShow: 4}}, {breakpoint: 520,settings: {slidesToShow: 3}}]
});
  
/**************************************cart page js******************************************************************/
 
  var url_cart = window.location.pathname;
  if (url_cart == '/cart'){
  jQuery('.subscribtion-options .subscription-radio:first').find('input').attr('checked');
  
   jQuery(document).on('click','.subscribtion-options .subscription-radio',function(){
        
        jQuery('.checkout-buttons').removeClass('custom-subsrciption');
        
        if($(this).find('input').attr('id') == 'is_subscription-true') {
         
        jQuery('.checkout-buttons').addClass('custom-subsrciption');
        }
      });
      
      jQuery(document).on('click','.custom-subsrciption',function(e){
        e.preventDefault();
       reChargeCartJS();
      	//getSubmitButtons();
      });
  
  
  function get_cart_token() {
			// Build the cart_token param for the URL generator
			try {
				return ['cart_token=' + (document.cookie.match('(^|; )cart=([^;]*)')||0)[2]];
			} catch (e) {
				return [];
			}
		}

		function get_ga_linker() {
			// Build the ga_linker param for the URL generator
			try {
				return ['ga_linker=' + ga.getAll()[0].get('linkerParam')];
			} catch (e) {
				return [];
			}
		}

		function buildCustomerObject(email_address, address_object) {
			// Return a data object with the customer shipping address
			var data = {
				email: email_address
			};

			try {
				return Object.assign(data, address_object);
			} catch (e) {
				return data
			}
		}

		function restoreCheckoutButton() {
			// Reverse embedded CSS that hides the submit button
			// This is done to discourage the chance a user hits "Checkout" before the page is done loading
			var cart_buttons = document.querySelectorAll('form[action^="/cart"] [type="submit"]'),
				buttons_to_update = Array.prototype.slice.apply(cart_buttons);

			buttons_to_update.forEach(function(elem) {
				elem.style.visibility = 'visible';
			});
		}

		function updateProductUrls(items) {
			// Map hidden product handles back to their original product handle
          
			Object.keys(items).forEach(function(id) {
				var product = items[id],
					product_url = product['url'],
					product_handle = product['original_handle'],
					product_links = document.querySelectorAll('a[href*="' + product_url + '"]');

				var links_to_update = Array.prototype.slice.apply(product_links);

				links_to_update.forEach(function(link) {
					link.setAttribute('href', '/products/' + product_handle);
				});
			});
		}

		function buildCheckoutUrl(options) {
			// Build the Checkout URL
			var checkout_url = 'https://' + options.checkout_domain + '/r/checkout?',
				url_params = [
					'myshopify_domain=' + options.permanent_domain,
				];

			url_params = url_params
				.concat(get_cart_token())
				.concat(get_ga_linker());

			return checkout_url + url_params.join('&')+'&discount=CODE-10';
		}

		function filterVisible(elems) {
			// Return visible elements
			return elems.filter(function(elem) {
				return !!(elem.offsetWidth || elem.offsetHeight || elem.getClientRects().length);
			});
		}

		function filterValues(elems) {
			// Return inputs with valid values
			return elems.filter(function(elem) {
				var is_active_checkbox = elem.getAttribute('type') === 'radio' && elem.checked,
					is_active_radio = elem.getAttribute('type') === 'checkbox' && elem.checked,
					is_input = elem.getAttribute('type') !== 'checkbox' && elem.getAttribute('type') !== 'radio';
				return !!elem.value && (is_input || is_active_checkbox || is_active_radio);
			});
		}

		function getTermsAndConditions() {
			// Find and return concacted terms and conditions values
			var condition_selectors = [
					'#terms',
					'#agree',
				],
				conditions = document.querySelectorAll(condition_selectors.join(',')),
				conditions_to_update = Array.prototype.slice.apply(conditions),
				conditions_filtered = filterValues(conditions_to_update),
				condition_values = conditions_filtered.map(function(elem) {
					return elem.value;
				});

			if (!condition_values.length) { return {}; }

			return {
				terms_and_conditions: condition_values.join(', ')
			};
		}

		function getNotes() {
			// Find and return concacted note values if visible
			var note_selectors = [
					'[name="note"]',
				],
				notes = document.querySelectorAll(note_selectors.join(',')),
				notes_to_update = Array.prototype.slice.apply(notes),
				notes_filtered = filterVisible(notes_to_update),
				note_values = notes_filtered.map(function(elem) { return elem.value; });

			if (!note_values.length) { return {}; }

			return {
				note: note_values.join(', ')
			};
		}

		function getAttributes() {
			// Find and return cart attributes
			var attribute_selectors = [
					'[name*="attributes"]',
				],
				attributes = document.querySelectorAll(attribute_selectors.join(',')),
				attributes_to_update = Array.prototype.slice.apply(attributes),
				attributes_filtered = filterValues(attributes_to_update);

			if (!attributes_filtered.length) { return {}; }

			var data = {};

			attributes_filtered.forEach(function(attribute) {
				var name = attribute.getAttribute('name'),
					value = attribute.value;
				data[name] = value;
			});

			return data;
		}

		function getCartData(customer) {
			// Return cart attributes and data
			var cart_data = {},
				termsAndConditions = getTermsAndConditions(),
				notes = getNotes(),
				attributes = getAttributes(),
				customer = buildCustomerObject(customer.email, customer.default_address);

			[termsAndConditions, notes, attributes, customer].forEach(function(obj) {
				Object.assign(cart_data, obj);
			});

			return cart_data;
		}

		function buildInputs(form, obj) {
			// Build input fields for key, value pairs
			Object.keys(obj).forEach(function(key) {
				var input = document.createElement('input');

				input.setAttribute('type', 'hidden');
				input.setAttribute('name', key);
				input.setAttribute('value', obj[key]);

				form.appendChild(input);
			});
		}

		function getSubmitButtons() {
			// Find all submit buttons
			var submit_selectors = [
					'form[action="/cart"] input[type="submit"]',
					'[name="checkout"]',
					'[href="/checkout"]',
					'form[action="/checkout"] input[type="submit"]',
					'.checkout_button',
				],
				submit_buttons = document.querySelectorAll(submit_selectors.join(',')),
				submit_buttons_to_update = Array.prototype.slice.apply(submit_buttons);

			return submit_buttons_to_update;
		}

		function getOptions() {
			// Find all submit buttons
			var option_selectors = [
					'[name="updates[]"]'
				],
				options = document.querySelectorAll(option_selectors.join(',')),
				options_to_update = Array.prototype.slice.apply(options);

			return options_to_update;
		}

		function buildForm(data, url) {
			// Build a virtual form
			var form = document.createElement('form');

			form.setAttribute('method', 'post');
			form.setAttribute('action', url);
			form.style.display = 'none';

			buildInputs(form, data);

			document.body.appendChild(form);

			return form;
		}

		function cartSubmit(options, customer) {
			// Build and submit cart
			var checkout_url = buildCheckoutUrl(options),
				cart_data = getCartData(customer);

			if (!cart_data) {
				window.location.href = checkout_url;
				return;
			}

			var xhr = new XMLHttpRequest();

			xhr.open('POST', '/cart/update.js');
			xhr.setRequestHeader('Content-Type', 'application/json');

			xhr.onload = function() {
				if (xhr.status === 200) {
					window.console.log('done', JSON.parse(xhr.responseText));
				} else if (xhr.status !== 200) {
					window.console.log('fail', JSON.parse(xhr.responseText));
				}

				var form = buildForm(cart_data, checkout_url);

				form.submit();
			};

			xhr.send(JSON.stringify(cart_data));
		}

		var reChargeCartJS = function() {
			// Run JavaScript when document has loaded
        
			var options = {
					active: {{ shop.metafields.subscriptions.subscription_active | default: 'false' }},
					money_format: {{ shop.money_format | json }},
					permanent_domain: {{ shop.permanent_domain | json }},
					checkout_domain: {{ shop.metafields.subscriptions.checkout_domain | default: 'checkout.rechargeapps.com' | json }},
					has_subscriptions: {{ has_subscriptions | default: '' | json }},
					cart_currency: {{ cart.currency.iso_code | json }},
					disable: false,
				},
				customer =  {
					email: {{ customer.email | default: '' | json }},
					default_address: {
						{% if customer.default_address %}
							first_name: {{ customer.default_address.first_name | json }},
							last_name: {{ customer.default_address.last_name | json }},
							address1: {{ customer.default_address.address1 | json }},
							address2: {{ customer.default_address.address2 | json }},
							city: {{ customer.default_address.city | json }},
							company: {{ customer.default_address.company | json }},
							country: {{ customer.default_address.country | json }},
							province: {{ customer.default_address.province | json }},
							phone: {{ customer.default_address.phone | json }},
							zip: {{ customer.default_address.zip | json }}
						{% endif %}
					}
				},
				cart = {{ cart | default: '' | json }},
				subscriptions = {
					{% for item in cart.items %}
						{% if item.product.metafields.subscriptions.original_handle %}
							{{ item.id }}: {
								url: {{ item.product.url | json }},
								original_handle: {{ item.product.metafields.subscriptions.original_handle | json }}
							},
						{% endif %}
					{% endfor %}
				};

			var submit_buttons = getSubmitButtons();

			submit_buttons.forEach(function(button) {
				button.addEventListener('click', function(evt) {
					if (!options.disable && !evt.target.getAttribute('data-disable-recharge')) {
						evt.preventDefault();
						cartSubmit(options, customer);
					} else {
						window.console.log('ReCharge was disabled intentionally.');
					}
				});
			});

			updateProductUrls(subscriptions);
			restoreCheckoutButton();
		};

		// If page is loaded from cache (browser back/forward button), force page reload
		window.addEventListener('pageshow', function(event) {
			if (event.persisted || window.performance && window.performance.navigation.type == 2) {
				window.location.href="/cart";
			}
		}, false);
      
/*var url_cart = window.location.pathname;
  if (url_cart == '/cart'){
    setTimeout(function(){
      if(jQuery('.cart__products').html() != ''){
     if(document.URL.indexOf("#")==-1)
        {
            // Set the URL to whatever it was plus "#".
            url = document.URL+"#";
            location = "#";

            //Reload the page
            location.reload(true);

        }
      }
    },3000);
   
  }*/
  
}
                  
/**************************************end cart page js******************************************************************/
                  
});
</script>