<style>
  @media only screen and (max-width: 600px) {
    #gallery img {
      margin: unset !important;
    }   
  }
  #gallery button{
    display:none !important;
  }
  #gallery img {
    width: 175px !important;
    height: auto;
    object-fit: contain;
    margin: 0 auto;
  }
  div#gallery {
    margin: 0 auto;
  }
 .slick-track {
    gap: 50px;
    display: flex;
    align-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
  }
  #gallery {
    margin: 1rem;
    padding-bottom: 80px;
  }
 #gallery img{
    margin: .2rem;
  }
  .marquee-banner h3 {
    padding-left: 30px;
    padding-top:50px;
    font-weight: 600;
    font-size: 1.8em;
    font-family: 'Montserrat';
  }
  @media only screen and (max-width: 749px) {
    .marquee-banner h3 {
        padding-left:0px;
        font-size: 1.4em;
    }
  }
</style>

<div class="marquee-banner">
  <div class="page-width">
  <h3>{{ section.settings.heading }}</h3>
  <div id="gallery">
    <img src="{{ section.settings.img1 | img_url: 'master' }}" width="auto" height="auto">
    <img src="{{ section.settings.img2 | img_url: 'master' }}" width="auto" height="auto">
    <img src="{{ section.settings.img3 | img_url: 'master' }}" width="auto" height="auto">
    <img src="{{ section.settings.img4 | img_url: 'master' }}" width="auto" height="auto">
    <img src="{{ section.settings.img5 | img_url: 'master' }}" width="auto" height="auto">
    <img src="{{ section.settings.img6 | img_url: 'master' }}" width="auto" height="auto">
    <img src="{{ section.settings.img7 | img_url: 'master' }}" width="auto" height="auto">
    <img src="{{ section.settings.img8 | img_url: 'master' }}" width="auto" height="auto"> 
    <img src="{{ section.settings.img9 | img_url: 'master' }}" width="auto" height="auto">
  </div>
  </div>
</div>




{% schema %}
  {
    "name": "Marquee Banner",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Marquee Banner Heading"
      },
      {
        "type":"image_picker",
        "id":"img1",
        "label":"image 1"      
      },
      {
        "type":"image_picker",
        "id":"img2",
        "label":"image 2"
      },
      {
        "type":"image_picker",
        "id":"img3",
        "label":"image 3"
      },
      {
        "type":"image_picker",
        "id":"img4",
        "label":"image 4"
      },
      {
        "type":"image_picker",
        "id":"img5",
        "label":"image 5"
      },
      {
        "type":"image_picker",
        "id":"img6",
        "label":"image 6"
      },
      {
        "type":"image_picker",
        "id":"img7",
        "label":"image 7"      
      }, 
      {
        "type":"image_picker",
        "id":"img8",
        "label":"image 8"
      },      
      {
        "type":"image_picker",
        "id":"img9",
        "label":"image 9"
      }   
  ],
  "presets":[
    {
      "name":"marquee Banner"
    }
  ]
}
{% endschema %}

<script>

$('#gallery').slick({
  slidesToShow: 6,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 0,
  speed: 8000,
  pauseOnHover: false,
  cssEase: 'linear',
   responsive: [
     
      {
        breakpoint: 767,
        settings: {
          slidesToShow: 1,
        }
      }
    ]
});
</script>