<div class="three_columns_img_content" style="background-color:{{section.settings.bg}}">
  <div class="page-width">
    <h3 class="title_ge">{{section.settings.title}}</h3>
    <div class="row{% if section.settings.checkbox_img_lef == true %} row_img_left{% endif %}">
      {% if section.settings.checkbox_img_lef == true %}
      	<div class="col-left">
          <img src="{{section.settings.img_center | img_url:''}}" alt="{{section.settings.img_center | Escape }}" />
      	</div>
      	<div class="col-right">
        {%for i in (1..4)%}
        {% capture img %}img{{ i }}{% endcapture %}
        {% capture title %}title{{ i }}{% endcapture %}
        {% capture text %}text{{ i }}{% endcapture %}
        <div class="col-item col-item-{{i}}">
          <div class="content">
            {% if section.settings.hide_icon == false %}
            <img src="{{section.settings[img] | img_url:''}}" alt="{{section.settings[img] | Escape }}" />
            {% endif %}
            <h4>{{section.settings[title]}}</h4>
            <div>{{section.settings[text]}}</div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <div class="col-left">
        {%for i in (1..2)%}
        {% capture img %}img{{ i }}{% endcapture %}
        {% capture title %}title{{ i }}{% endcapture %}
        {% capture text %}text{{ i }}{% endcapture %}
        <div class="col-item col-item-{{i}}">
          <div class="content">
            {% if section.settings.hide_icon == false %}
            <img src="{{section.settings[img] | img_url:''}}" alt="{{section.settings[img] | Escape }}" />
            {% endif %}
            <h4>{{section.settings[title]}}</h4>
            <div>{{section.settings[text]}}</div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="col-center">
        <img src="{{section.settings.img_center | img_url:''}}" alt="{{section.settings.img_center | Escape }}" />
      </div>
      <div class="col-right">
        {%for i in (3..4)%}
        {% capture img %}img{{ i }}{% endcapture %}
        {% capture title %}title{{ i }}{% endcapture %}
        {% capture text %}text{{ i }}{% endcapture %}
        <div class="col-item col-item-{{i}}">
          <div class="content">
            {% if section.settings.hide_icon == false %}
            <img src="{{section.settings[img] | img_url:''}}" alt="{{section.settings[img] | Escape }}" />
            {% endif %}
            <h4>{{section.settings[title]}}</h4>
            <div>{{section.settings[text]}}</div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Image center content",
    "settings": [
	{
      "type": "color",
      "id": "bg",
      "label": "Background Color",
	  "default":"#eee"
    },
	{
      "type": "checkbox",
      "id": "checkbox_img_lef",
      "label": "Image left"
    },
	{
      "type": "checkbox",
      "id": "hide_icon",
      "label": "Hide icon"
    },
	{
      "type": "text",
      "id": "title",
      "label": "Title"
    },
	{
      "type": "image_picker",
      "id": "img_center",
      "label": "Image"
    },
	{
      "type": "header",
      "content": "Content 1"
    },
	{
      "type": "image_picker",
      "id": "img1",
      "label": "Image 1"
    },
	{
      "type": "text",
      "id": "title1",
      "label": "Title 1"
    },
	{
      "type": "richtext",
      "id": "text1",
      "label": "Text 1"
    },
	{
      "type": "header",
      "content": "Content 2"
    },
	{
      "type": "image_picker",
      "id": "img2",
      "label": "Image 2"
    },
	{
      "type": "text",
      "id": "title2",
      "label": "Title 2"
    },
	{
      "type": "richtext",
      "id": "text2",
      "label": "Text 2"
    },
	{
      "type": "header",
      "content": "Content 3"
    },
	{
      "type": "image_picker",
      "id": "img3",
      "label": "Image 3"
    },
	{
      "type": "text",
      "id": "title3",
      "label": "Title 3"
    },
	{
      "type": "richtext",
      "id": "text3",
      "label": "Text 3"
    },
	{
      "type": "header",
      "content": "Column 4"
    },
	{
      "type": "image_picker",
      "id": "img4",
      "label": "Image 4"
    },
	{
      "type": "text",
      "id": "title4",
      "label": "Title 4"
    },
	{
      "type": "richtext",
      "id": "text4",
      "label": "Text 4"
    }
],
  "presets": [
    {
      "name": "Image center content",
      "category": "Text"
    }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
